.test {
    background-size: cover;
}

.back {
    border-radius: 50px;
    border-color: blue;
    border-style: outset;
    width: 70%;
    margin: auto;
    background-color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.back a {
    color: black;
    text-decoration: none;
    width: 500px;
    height: 60px;
    font-size: 25px;
}

.back a:hover {
    background-color: white;
    color: black;
}

.menuAdmin {
    border-radius: 50px;
    border-color: blue;
    border-style: outset;
    width: max-content;
    margin: auto;
    background-color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 150px;
    padding-left: 155px;
    padding-right: 155px;
}

.menuAdmin a {
    color: black;
    text-decoration: none;
    width: 500px;
    height: 60px;
    font-size: 25px;
}

.menuAdmin a:hover {
    background-color: white;
    color: black;
}